<div class="row">
    <div class="col-sm-4" id="un-eaten">
        <ul class="list-group list-group-flush">
            {{#each Burger}}
                {{#unless devoured}}
                    <li class="list-group-item">
                        {{this.burger_name}}
                        <button type="button" class="btn btn-outline-danger btn-sm eat-burger" data-id="{{this.id}}">Eat
                        </button>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="assets/img/burger1.png" class="img-fluid" alt="Hamburger">
        <div class="card text-center">
            <div class="card-header">Add a Burger</div>
            <div class="card-body">
                <form action="/api/burgers" method="post">
                    <div class="form-group">
                        <label for="add-burger">Burger Name:</label>
                        <input type="text" class="form-control" id="add-burger">
                    </div>
                    <button type="button" class="btn btn-success" id="submit-burger">Add Burger</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="https://www.youtube.com/watch?v=Z6oeAdemFZw" target="_blank"><---></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" id="eaten">
        <ul class="list-group list-group-flush">
            {{#each Burger}}
                {{#if devoured}}
                    <li class="list-group-item">
                        {{this.burger_name}}, {{this.Customer.customer_name}}
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>