body {
  background: url("../img/light-veneer.png") repeat;
}

.modal-content {
  background: url("../img/light-veneer.png") repeat;
}

ul li {
  border: 1px solid sandybrown;
  background: transparent;
}

.list-group-item {
  background-color: transparent;
}

.card {
  background-color: transparent;
  border-color: #FF7900;
}

.eat-burger {
  float: right;
}

.card-header, .card-footer {
  border-color: #FF7900;
}

a:hover {
  text-decoration: none;
  color: #FF7900;
}
